.layout {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    display: grid;
    grid-template-areas:
        "randomchar randomchar"
        "cardlist sidebar";


    margin-top: 50px;
    width: 100%;
    gap: 0 25px;

}

.randomchar {
    grid-area: randomchar;
}

.cardlist {
    grid-area: cardlist;
}

.sidebar {
    grid-area: sidebar;
}

.cardlist,
.sidebar {
    margin-top: 50px;
}