.herolist {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 30px 25px;
    margin: 0;
    padding: 0;
    list-style: none;

}

.listbtn {
    max-width: 175px;
    margin-top: 45px;
}


@media (max-width: 768px) {
    .herolist {
        grid-template-columns: repeat(2, 200px);
    }
}

@media (max-width: 515px) {
    .herolist {
        grid-template-columns: 1fr;
    }
}