.sidebar {
    display: grid;
    grid-template-areas:
        'heroimage herotitle'
        'heroimage homepagebtn'
        'heroimage wikibtn'
        'descr descr'
        'comicslisttitle comicslisttitle'
        'comicslist comicslist'
    ;
    grid-template-columns: auto 1fr;
    padding: 25px;
    gap: 0 25px;
}


.heroimage {
    width: 150px;
    height: 150px;
    grid-area: heroimage;
}

.herotitle {
    grid-area: herotitle;
}

.homepagebtn {
    grid-area: homepagebtn;
    margin-top: 15px;
}

.wikibtn {
    grid-area: wikibtn;
}

.btn {
    align-self: flex-end;
}

.descr {
    grid-area: descr;
}

.comicslisttitle {
    grid-area: comicslisttitle;
}

.comicslist {
    grid-area: comicslist;
    padding: 5px 0px 5px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    list-style: none;
}